<div>
    {% load unicorn %}

    <div class="message bot-message" data-id="{{chat.id}}">

        <h3 class="b-bottom-muted-max">Ollama:</h3>

        {% if chat.response %}

            <span class="text">{{ chat.response|safe }}</span>

            <br>

            <small class="date muted-medium">
                <span class="fa fa-calendar"></span>
                {{ chat.last_modified|date:"D d M Y - H:i" }}
            </small>

        {% else %}

            <span class="text">...</span>                    

        {% endif %}

    </div>

    <div class="message user-message" data-id="{{chat.id}}">

        <h3 class="b-bottom-muted-max">You:</h3>

        <span class="text">{{ chat.prompt|safe }}</span>

        <small class="date muted-medium">
            <span class="fa fa-calendar"></span>
            {{ chat.created_on|date:"D d M Y - H:i" }}
        </small>

    </div>

    <div class="clear">&nbsp;</div>
</div>
