

    <!-- books/row.html -->
    {% load define_action %}

    {% define book.date_published as date_pub  %}
    {% if not book.date_published %}
        {% define '' as date_pub %}
    {% endif %}

    {% define 'selected' as select_country  %}
    {% if book.country %}
        {% define '' as select_country %}
    {% endif %}
    <tr>
        <td>
            {% if is_editing %}
                <input type="text" unicorn:model.defer="book.author" value="{{ book.author }}" class="form-control"/>
            {% else %}
              {{ book.author }}
            {% endif %}
        </td>
        <td>
            {% if is_editing %}
                <input type="text" unicorn:model.defer="book.title" value="{{ book.title }}" class="form-control"/>
            {% else %}
                {{ book.title }}
            {% endif %}
        </td>
        <td>
            {% if is_editing %}
                <input type="text" unicorn:model.defer="book.date_published" value="{{ date_pub }}"
                                                    placeholder="ex: 1997-05-15" class="form-control"/>
            {% else %}
                {{ date_pub }}
            {% endif %}
        </td>
        <td>
            {% if is_editing %}
                <select  unicorn:model.defer="book.country" id="country" class="form-select">
                    <option {{ select_country }}>Select a country...</option>
                    {% for country in countries %}

                        {% define '' as country_selected %}
                        {% if book.country and country.0 == book.country %}
                            {% define 'selected' as country_selected %}
                        {% endif %}

                        <option value="{{ country.0 }}" 
                                {{ country_selected }}>{{ country.1 }}</option>
                    {% endfor %}
                </select>
            {% else %}
                {{ book.country }}
            {% endif %}
        </td>
        <td>
            {% if is_editing %}
                <button unicorn:click="save" class="btn btn-outline-success">Save</button>
                <button unicorn:click.discard="cancel" class="btn btn-outline-gray" >Cancel</button>
            {% else %}
                <button unicorn:click="edit" class="btn btn-outline-tertiary">Edit</button>
            {% endif %}
        </td>
    </tr>
