

    <!-- books/row.html -->
    {% load define_action %}

    {% define book.date_published as date_pub  %}
    {% if not book.date_published %}
        {% define '' as date_pub  %}
    {% endif %}
    <tr>
        <td>
            {% if is_editing %}
                <input type="text" unicorn:model.defer="author" value="{{ book.author }}" />
            {% else %}
              {{ book.author }}
            {% endif %}
        </td>
        <td>
            {% if is_editing %}
                <input type="text" unicorn:model.defer="title" value="{{ book.title }}" />
            {% else %}
                {{ book.title }}
            {% endif %}
        </td>
        <td>
            {% if is_editing %}
                <input type="text" unicorn:model.defer="date_published" value="{{ date_pub }}"
                                                    placeholder="ex: 1997-05-15" />
            {% else %}
                {{ date_pub }}
            {% endif %}
        </td>
        <td>
            {% if is_editing %}
                <button unicorn:click="save" class="btn btn-outline-success">Save</button>
                <button unicorn:click.discard="cancel" class="btn btn-outline-gray" >Cancel</button>
            {% else %}
                <button unicorn:click="edit" class="btn btn-outline-tertiary">Edit</button>
            {% endif %}
        </td>
    </tr>
