
{% extends "_base.html" %}
{% load static %}
{% load i18n %}
{% load unicorn %}
{% csrf_token %}

{% block content %}
    <main class="container mx-auto px-4">
        <!--End of Title section-->
        <div class="section">
            <div class="container">

                <!-- row 1 | -->
                <div class="row justify-content-center mb-5 mb-lg-6">

                  <div class="col-6 col-md-3 text-center">
                    <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                      <span class="fas fa-horse-head text-tertiary"></span>
                    </div>
                    <h1 class="text-3xl text-green-800">
                          {% trans "Django Unicorn + Tailwind = ❤️" %}
                    </h1>
                      <h3 class="text-3x1 text-green-800">
                          django-unicorn, tailwind
                    </h3>

                    <p class="text-gray text-left"></p>
                  </div>
                </div>
                <!-- /row 1 -->

                <!-- row 2 | -->
                <div unicorn:view class="row forms mt-10 overflow-auto">
                    <!-- books-view.html unicorn template --> 
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Author</td>
                                <td>Title</td>
                                <td>Date published</td>
                                <td>Country</td>
                            </tr>
                        </thead>
                        <tbody id="books-body">
                            {% for book in books %}
                                <!-- books/row.html -->
                                {% load define_action %}

                                {% define book.date_published as date_pub  %}
                                {% if not book.date_published %}
                                    {% define '' as date_pub %}
                                {% endif %}

                                {% define 'selected' as select_country  %}
                                {% if book.country %}
                                    {% define '' as select_country %}
                                {% endif %}
                                <tr>
                                    <td>
                                        {{ book.author }}
                                    </td>
                                    <td>
                                        {{ book.title }}
                                    </td>
                                    <td>
                                        {{ date_pub }}
                                    </td>
                                    <td>
                                        {{ book.country }}
                                    </td>
                                    <td>
                                        <em>(action buttons)</em>
                                        <!-- button unicorn:click="edit" class="btn btn-outline-tertiary">Edit</button -->
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <!-- span unicorn:visible.threshold-100="add_count"></span -->          
                    </table>
                     
                </div>
                <!-- /row 2 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->
    </main>

{% endblock content %}