{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Draggable Cards</title>
  <link rel="stylesheet" href="{% static 'templates/ourcards/assets/css/style.css'  %}">
</head>
<body>
  <div class="container">
    <h1>Draggable Cards</h1>
    <div class="card-container"></div>
    <button class="add-card">+</button>
  </div>
  <script src="{% static 'templates/ourcards/assets/js/script.js'  %}"></script>
</body>
</html>