{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %} ⚙ Webscraping + Tests & Process Automation{% endblock title %}</title>

        <!-- Tailwind -->
        {% tailwind_preload_css %}
        <!-- 
            Workaround
            ----------
            https://stackoverflow.com/questions/44657829/css-file-blocked-mime-type-mismatch-x-content-type-options-nosniff
            { % tailwind_css % } 
        -->
        <link href="{% static 'css/dist/styles.css' %}">


        <!-- Main -->
        <link rel="stylesheet" href="{% static 'templates/main/css/main.css' %}">


        <!-- Fontawesome -->
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/regular.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">


        {% load unicorn %}
        <script defer src="https://unpkg.com/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        {% unicorn_scripts %}

        <script type="text/javascript" src="{% static 'templates/main/js/main.js' %}"></script>
    </head>

    <body class="bg-slate-100 w-full">

        <!--
        <div style="margin: 5em auto; padding: 5em; color: darkred; border: 1px solid darkred; text-align: center; font-size: 1.5em;">
            DISK SPACE IS FULL
            <br/><small>Your app may not function properly...</small>
            <br/><small style="font-size: 0.65em !important;">Layout may be flat, incorrect, or distorted, elements may be missing,<br/> pages, media, elements, modules may crash, dysfunction or be inaccessible...</small>
        </div>
        -->

        <div class="container w-full">
            <div id="wrapper">

                {% block content %}
                {% endblock content %}

                {% block auth %}
                    <div id="auth" class="muted-medium m-aut text-center">
                        <iframe name="auth-iframe"></iframe>

                        {% if user.is_authenticated %}

                            <p>Hello, {{ user.email|default:user.username }}!</p>
                            <a href="{% url 'logout' %}">Logout</a>

                        {% else %}

                            <p>
                                <a href="{% url 'login' %}">Login</a>
                                or <a href="{% url 'register' %}">Register</a>.</p>

                        {% endif %}
                    </div>
                {% endblock auth %}

                {% block footer %}
                    <div id="footer">
                        <p>
                            @Copyleft - 
                            <a href="mailto:mansa.trainings@gmail.com">MANSA</a> 
                            | <a href="calllto:237674410489">
                                <!-- i class="fa fa-whatsapp" aria-hidden="true"></i -->
                                <span class="fa fa-phone" aria-hidden="true"></span>
                                <span class="icon-text">(whatsapp)</span>
                                +237 674 41 04 89
                              </a>
                        </p>
                    </div>
                {% endblock footer %}

            </div>

        </div>
    </body>
</html>


