
{% extends "_base.html" %}
{% load static %}
{% load i18n %}
{% load define_action %}
{% load index %} 
{% load unicorn %}
{% csrf_token %}

{% block content %}
    <main>
        <div class="section section-md">
            <div class="container">

                <!-- row 1 | -->
                <div class="row justify-content-center mb-5 mb-lg-6">

                  <div class="col-6 col-md-3 text-center">
                    <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                      <span class="fas fa-horse-head text-tertiary"></span>
                    </div>
                    <h3 class="fw-bolder">{% trans "Unicorn" %}</h3>
                    <p class="text-gray text-left"></p>
                  </div>
                </div>
                <!-- /row 1 -->

                <!-- row 2 | -->
                <div class="row forms mt-10 overflow-auto">
                    <!-- books/table.html unicorn template --> 
                    {% unicorn 'books.table' %}
                     
                </div>
                <!-- /row 2 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->
    </main>

{% endblock %}