{% extends "_base.html" %}
 
{% block content %}
    <div class="mt-10 mx-auto">
        <h1 class="text-3xl text-green-800">
              Django Unicorn
        </h1>
        <h3 class="text-3x1 text-green-800">
              Django Unicorn
        </h3>
        <ul class="text-3x1 text-green-800">
          <li>
              | <a href="{% url 'books_demo' %}">Books demo</a>
          </li>
          <li>
              | <a href="{% url 'books_view' %}">Books view</a>
          </li>
          <li>
              | <a href="{% url 'darklight_index' %}">Dark / Light</a>
          </li>
          <li>
              | <a href="{% url 'ourcards_index' %}">Our Cards</a>
          </li>
        </ul>
    </div>
{% endblock content %}