{% extends "_base.html" %}

{% load static %}

{% block title %} 📰 Journal & Guidance {% endblock title %}
 

{% block content %}

    <h3 class="muted-max text-center b-bottom-muted-max">Journal &amp; Guidance</h3>

    <div id="chat-container">
        <!-- Chat messages will appear here -->
    </div>
    <div id="input-container">
        <input type="text" id="prompt-input" placeholder="Type your message...">
        <button id="send-button">Send</button>
    </div>

    <script src="{% static 'templates/main/js/journal.js' %}"></script>

{% endblock content %}

