{% extends "_base.html" %}

{% load static %}

 
{% block content %}
    <div class="resizer styled left">
        <iframe src="https://calendar.google.com/calendar/embed?src=mayou.nkensa%40gmail.com&ctz=Africa%2FLagos" 
                                style="border: 0" frameborder="0" scrolling="no"></iframe>
        <a href="https://calendar.google.com/calendar/u/0/r?pli=1" target="_blank">view calendar...</a>
    </div>
    <div class="resizer styled right">
        <!-- img class="resized" src=""></iframe -->
    </div>
    <style>
        iframe {
            width: 100%;
            height: 100%;
            overflow:hidden;
        }
        .resizer {
            width: 50%;
            height: 65em;
            margin:0;
            padding:0;
            resize:both;
            overflow:hidden;                        
        }
        .resizer > .resized { 
            flex-grow:1;
            margin:0;
            padding:0;
            border:0;
            overflow:hidden;
        }

        .styled { 
            /*border:4px dashed #ababab;*/
        }

        .resizer.right {
            background-image: url("{% static 'medias/images/62610515-Active-Plan-Map.jpg' %}");
            background-size: 100%;
            object-fit: fill;
            background-repeat: no-repeat;
        }

        .left { float: left; }
        .right { float: right; }


        @media (min-width: 1024px) {
            .container {
                max-width: 100%;
            }
        }
        @media (min-width: 768px) {
            .container {
                max-width: 100%;
            }
        }
        @media (min-width: 640px) {
            .container {
                max-width: 100%;
            }
        }        
    </style>
{% endblock content %}

<!--

    <div class="frames-wrapper">
        <iframe class="resizable-h" src="https://wikipedia.org/"></iframe>
        <iframe class="resizable-h" src="https://wikipedia.org/"></iframe>
    </div>
    <style>
        .frames-wrapper {
            display:flex;
            margin:0;
            padding:0;
            overflow:hidden            
        }
        iframe {
            width: 50%;
            overflow:hidden            
        }
        .resizable-h { 
            flex-grow:1;
            margin:0;
            padding:0;
            border:0;
            resize: both;
        }

        .styled { 
            /*border:4px dashed #ababab;*/
        }

        @media (min-width: 1024px) {
            .container {
                max-width: 100%;
            }
        }
        @media (min-width: 768px) {
            .container {
                max-width: 100%;
            }
        }
        @media (min-width: 640px) {
            .container {
                max-width: 100%;
            }
        }        
    </style>

 -->